
@{
    ViewData["Title"] = "Index";
}

<div class="stricky-header stricked-menu main-menu main-menu-three" style="background-color: #000000;">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Haqqımızda</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index3.html">Ana səhifə</a></li>
                <li>Haqqımızda</li>
            </ul>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Always Working Start-->
<section class="always-working">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="always-working__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">EcoBalance haqqında</span>
                        <h2 class="section-title__title">Həmişə təmiz sabah üçün çalışırıq</h2>
                    </div>
                    <p class="always-working__text">
                        Ecobalance Tullantı Yığım xidməti- Azərbaycanda ilk dəfə
                        fəaliyyət göstərən texnoloji platformadır. Biz 2022- ci ildən fəaliyyət başlamış,
                        insanları tullantıların azaldılmasına və təkrar emalına təşviq edən,10-dan çox yenidən
                        emal şirkətləri ilə iş birliyi yaradan elektron ticarət platformasıyıq. Biz keyfiyyətli
                        iş, gözəl xidmət devizi ilə işləyirik.
                    </p>


                </div>
            </div>
            <div class="col-xl-6">
                <div class="always-working__right">
                    <div class="always-working__img wow slideInRight" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <img src="~/assets/images/resources/always-working-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Always Working End-->
<!--Why Choose One Start-->
<section class="why-choose-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="why-choose-one__left">
                    <div class="why-choose-one__img">
                        <img src="~/assets/images/resources/why-choose-one-img-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="why-choose-one__right">
                    <div class="why-choose-one__content">
                        <h3 class="why-choose-one__title">Niyə EcoBalance-ı seçməlisiniz?</h3>

                        <ul class="list-unstyled why-choose-one__points">
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p>
                                        Biz sizə heç bir ödəniş etmədən tullantıların idarə olunması ehtiyaclarınızı təklif edirik.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p>
                                        Nəzakətli və peşəkar komandamız ən yaxşı qiymətlərlə ən yaxşı xidməti təklif edirik.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p>Biz tullantıların idarə olunması xidmətlərini ən yüksək standartda təmin etməyə sadiqik.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose One End-->
<!--CTA One Start-->
<section class="cta-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <h2 class="cta-one__title">Ev və ya biznes tullantılarınız var?</h2>
                    <div class="cta-one__btn-box">
                        <a href="request-pickup.html" class="thm-btn cta-one__btn">Sifariş edin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One  End-->
