@model Lacromis.Models.Garbage

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Siuuu/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>

<h4>Garbage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" accept="image/*" class="form-control" />
                <span asp-validation-for="Photo"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrition2" class="control-label"></label>
                <input asp-for="Descrition2" class="form-control" />
                <span asp-validation-for="Descrition2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrition3" class="control-label"></label>
                <input asp-for="Descrition3" class="form-control" />
                <span asp-validation-for="Descrition3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="select2 form-control js-example-basic-single" asp-for="CatagoryId" asp-items="@(new SelectList(ViewBag.catagoryy,nameof(Catagory.Id),nameof(Catagory.Name)))">
                    <option disabled selected>CATEGORY</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

